/* _variables.css */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

:root {
    /* Base font size */
    font-size:16px;

    /* Colors */
    --primary-col: #bb5149;  
    --secondary-col: #0e7496; 
    --tertiary-col: #19242e;   
    --plain-white-col: #ffffff;
    --hover-tertiary-col: #555;
    --hover-primary-col: #de7a73;
    --transparent-col: rgba(255, 255, 255, 0);        
    /* Shadows */
    --primary-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    /* Background colors */
    --background-col: #f5fbef; 
    --input-background: #ffffff;
    --card-background: #ffffff;
    
    /* Border radius */
    --button-border-radius: 2rem;     
    --search-border-radius: 1.5rem; 
    --card-border-radius: 1rem;
    --input-border-radius: 0.5rem;

    /* Border Color */
    --border-col:  1px solid black;

    /* Typography */
    --font-header: "Merriweather", serif;
    --font-body: "Source Sans Pro", sans-serif;
    
    /* Font sizes */
    --font-size-h1: 3.5rem;
    --font-size-h2: 2.5rem;  
    --font-size-h3: 1.25rem;   
    --font-size-body: 1rem;   
    --font-size-button: 1.1rem; 

    --font-size-h1-mobile: 2rem;
    --font-size-h2-mobile: 1.5rem;
}