/* admin.css */
footer {
    margin-top: 190px;
}

.admin-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2rem;
}

.admin-section {
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: var(--primary-shadow);
}

.admin-section h2 {
    margin-bottom: 1.5rem;
    color: var(--tertiary-col);
}

.admin-form {
    margin-top: 1rem;
}

.admin-form form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.admin-form input,
.admin-form select {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    font-family: var(--font-body);
}

.admin-form input:focus,
.admin-form select:focus {
    outline: none;
    border-color: var(--tertiary-col);
    box-shadow: 0 0 0 1px var(--tertiary-col);
}


@media (max-width: 768px) {
    .admin-container {
        padding: 1rem;
    }
    
    .admin-grid {
        grid-template-columns: 1fr;
    }
}