/* book.css */
.book-details {
    display: grid;
    grid-template-columns: 18rem 2fr;
    gap: 4rem;
    padding: 2rem;
    border-radius: var(--card-border-radius);
    background: white;
    box-shadow: var(--primary-shadow);
    min-height: 25rem;
}

.book-details .button {
    margin-bottom: 2rem;
}

.book-cover img {
    width: 18.75rem;
    height: auto;
}

.book-info .author {
    color: var(--primary-col);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.book-meta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    margin-bottom: 2rem;
}

@media (max-width: 768px) {
    .book-details {
        grid-template-columns: 1fr;
        gap: 0rem;
    }

    .book-cover img {
        width: 100%; 
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}