/* books.css */
.search-section {
    margin-bottom: 2rem;
}

.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
    gap: 2rem;
}

.book-card {
    background-color: var(--card-background);
    padding: 0.5rem;
    position: relative;
    cursor: pointer;
    box-shadow: var(--primary-shadow);
}

.book-card h3, p {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.book-card img {
    width: 100%;
    height: auto;
    border-radius: var(--)
}

@media (max-width: 768px) {    
    .books-grid {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}