/* book.css */
.book-details {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 2rem;
    padding: 2rem;
    border-radius: var(--card-border-radius);
    background: white;
    box-shadow: var(--primary-shadow);
}

.book-cover {
    width: 100%;
}

.book-cover img {
    width: 100%;
    height: auto;
    border-radius: var(--card-border-radius);
}

.book-info .author {
    color: var(--primary-col);
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.book-meta {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

@media (max-width: 768px) {
    .book-details {
        grid-template-columns: 1fr;
    }

    .book-cover {
        max-width: 300px;
        margin: 0 auto;
    }
}