/* general.css */
@import '_variables.css';

main {
    max-width: 75rem;
    margin: 0 auto;
    padding-left: 4rem;
    padding-right: 4rem;
    min-height: 65vh;
}

body {
    background-color: var(--background-col);
    font-family: var(--font-body);
}

h1 {
    font-size: var(--font-size-h1);
}

h2 {
    font-size: var(--font-size-h2)
}

h3 {
    font-size: var(--font-size-h3)
}

h1, h2, h3, .logo {
    font-family: var(--font-header);
}

.button, .nav-link {
    font-size: var(--font-size-button);
}

.button {
    padding: 1rem 1.5rem;
    margin-top: -0.5rem;
    border-radius: var(--button-border-radius);
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: var(--font-size-button);
    color: var(--background-col);
}

.button-primary {
    background-color: var(--primary-col);
}

.button-dark {
    background-color: var(--tertiary-col);
}

.load-more {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}

.back-to-top {
    display: none;
    position: fixed;
    bottom: 3rem;
    right: 2rem;
    font-size: var(--font-size-h1);
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--tertiary-col);
    color: var(--plain-white-col);
    cursor: pointer;
    border-radius: var(--button-border-radius);
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.back-to-top:hover {
    background-color: var(--grey-col);
}

.back-nav {
    margin-bottom: 2rem;
}

.back-nav a {
    color: var(--tertiary-col);
    font-size: var(--font-size-h3); 
}   