/* general.css */
@import '_variables.css';

body {
    background-color: var(--background-col);
    font-family: var(--font-body);
    color: var(--tertiary-col);
}

h1, h2, .logo, button.cta {
    font-family: var(--font-header);
}

.logo {
    color: var(--secondary-col);
}

p, input, label, a {
    font-family: var(--font-body);
    color: var(--cta-col);
    text-decoration: none;
}

button.cta {
    background-color: var(--cta-col);
    color: var(--secondary-col);
    border: none;
    cursor: pointer;
    border-radius: var(--cta-border-radius);
}

input {
    border: 1px solid var(--tertiary-col);
    border-radius: var(--cta-border-radius);
    background-color: var(--tertiary-col);
}

input:focus {
    outline: none;
    box-shadow: 0rem 0rem 0.05rem 0.05rem var(--cta-col);

}

.button {
    padding: 0.5rem 1.5rem;
    border-radius: var(--cta-border-radius);
    border: none;
    cursor: pointer;
    font-size: var(--font-size-button);
}

.button-primary {
    background-color: var(--primary-col);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: var(--cta-border-radius);
    border: none;
    cursor: pointer;
}

.button-dark {
    background-color: var(--tertiary-col);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: var(--cta-border-radius);
    border: none;
    cursor: pointer;
}

.button-outline {
    background-color: transparent;
    border: 1px solid var(--tertiary-col);
    color: var(--tertiary-col);
}

.load-more {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}